<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/all.css">
    <title>Club Bike - Usuarios</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">Bike<span>Club</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../bikes/buscarbici.html">Buscar bici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../bikes/prestarbici.html">Prestar bici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../users/comunity.html">Mi comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../users/invita.html">Invita un amigo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="col-md-10 pt-4 mx-auto c">Póliza de Privacidad</h1>
        <div style="padding: 100px;" class="text-justify">
            <h3>Quiénes somos</h3>
            La dirección de nuestra web es: Club Bike

            <h3>Qué datos personales recogemos y por qué los recogemos</h3>
            Comentarios:
            Cuando los visitantes dejan comentarios en la web, recopilamos los datos que se muestran en el formulario de comentarios, 
            así como la dirección IP del visitante y la cadena de agentes de usuario del navegador para ayudar a la detección de spam. 
            Una cadena anónima creada a partir de tu dirección de correo electrónico (también llamada hash) puede ser proporcionada al servicio de 
            Gravatar para ver si la estás usando. La política de privacidad del servicio Gravatar está disponible aquí: https://automattic.com/privacy/. 
            Después de la aprobación de tu comentario, la imagen de tu perfil es visible para el público en el contexto de su comentario.
            Medios:
            Si subes imágenes a la web deberías evitar subir imágenes con datos de ubicación (GPS EXIF) incluidos. 
            Los visitantes de la web pueden descargar y extraer cualquier dato de localización de las imágenes de la web.
            Formularios de contacto: 
            Cookies:
            Si dejas un comentario en nuestro sitio puedes elegir guardar tu nombre, dirección de correo electrónico y web en cookies. Esto es para tu comodidad, 
            para que no tengas que volver a rellenar tus datos cuando dejes otro comentario. Estas cookies tendrán una duración de un año. Si tienes una cuenta y 
            te conectas a este sitio, instalaremos una cookie temporal para determinar si tu navegador acepta cookies. Esta cookie no contiene datos personales y 
            se elimina al cerrar el navegador. Cuando inicias sesión, también instalaremos varias cookies para guardar tu información de inicio de sesión y tus 
            opciones de visualización de pantalla. Las cookies de inicio de sesión duran dos días, y las cookies de opciones de pantalla duran un año. Si seleccionas 
            “Recordarme”, tu inicio de sesión perdurará durante dos semanas. Si sales de tu cuenta, las cookies de inicio de sesión se eliminarán. Si editas o 
            publicas un artículo se guardará una cookie adicional en tu navegador. Esta cookie no incluye datos personales y simplemente indica el ID del artículo 
            que acabas de editar. Caduca después de 1 día.
            Contenido incrustado de otros sitios web: Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). 
            El contenido incrustado de otras web se comporta exactamente de la misma manera que si el visitante hubiera visitado la otra web. 
            Estas web pueden recopilar datos sobre ti, utilizar cookies, incrustar un seguimiento adicional de terceros, y supervisar tu interacción con ese 
            contenido incrustado, incluido el seguimiento de tu interacción con el contenido incrustado si tienes una cuenta y estás conectado a esa web.
            Analítica:
            Compras: 
            cuando compras algo de nuestra tienda, como parte del proceso de compra venta, nosotros recolectamos la información personal que nos das tales como nombre, 
            dirección y correo electrónico. Cuando navegas en nuestra tienda, también recibimos de manera automática la dirección de protocolo de internet 
            de tu computadora (IP) con el fin de proporcionarnos información que nos ayuda a conocer acerca de su navegador y sistema operativo.
            Email marketing: Con tu permiso, podremos enviarte correos electrónicos acerca de nuestra tienda, nuevos productos y otras actualizaciones.

            <h3>Consentimiento</h3>
            Cuando nos provees tu información personal para completar una transacción, verificar tu tarjeta de crédito, 
            crear una órden, concertar un envío o hacer una devolución, implicamos que aceptas la recolección de datos y uso por esa razón específica solamente. 
            Si te pedimos tu información personal por una razón secundaria, como marketing, te pediremos directamente tu expreso consentimiento, 
            o te daremos la oportunidad de negarte.
            Edad de consentimiento: Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia 
            y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.
            ¿Cómo puedo anular mi consentimiento?: Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento para que te contactemos, 
            por la recolección, uso o divulgación de tu información, en cualquier momento, contactándonos a club_bike@gmail.com.
            
            <h3>Con quién compartimos tus datos</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.

            <h3>Cuánto tiempo conservamos tus datos</h3>
            Si dejas un comentario, el comentario y sus metadatos se conservan indefinidamente. Esto es para que podamos reconocer y aprobar comentarios 
            sucesivos automáticamente en lugar de mantenerlos en una cola de moderación. De los usuarios que se registran en nuestra web (si los hay), 
            también almacenamos la información personal que proporcionan en su perfil de usuario. Todos los usuarios pueden ver, editar o eliminar 
            su información personal en cualquier momento (excepto que no pueden cambiar su nombre de usuario). Los administradores de la web también 
            pueden ver y editar esa información.

            <h3>Qué derechos tienes sobre tus datos</h3>
            Si tienes una cuenta o has dejado comentarios en esta web, puedes solicitar recibir un archivo de exportación de los datos personales que tenemos sobre ti, 
            incluyendo cualquier dato que nos hayas proporcionado. También puedes solicitar que eliminemos cualquier dato personal que tengamos sobre ti. 
            Esto no incluye ningún dato que estemos obligados a conservar con fines administrativos, legales o de seguridad.

            <h3>Dónde enviamos tus datos</h3>
            Los comentarios de los visitantes puede que los revise un servicio de detección automática de spam.

            <h3>Como contactarnos</h3>
            Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti, registrar una queja, 
            o simplemente quieres más información contacta a nuestro Oficial de Cumplimiento de Privacidad en club_bike@gmail.com (Asunto: Politicas de Privacidad)

            <h3>Información adicional</h3>
            Cómo protegemos tus datos: Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la 
            industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma. 
            SI nos proporcionas la información de tu tarjeta de crédito, dicha información es encriptada mediante la tecnología Secure Socket Layer (SSL) 
            y se almacena con un cifrado AES-256. Aunque ningún método de transmisión a través de Internet o de almacenamiento electrónico es 100% seguro, 
            seguimos todos los requisitos de PCI-DSS e implementamos normas adicionales aceptadas por la industria.

            Qué procedimientos utilizamos contra las brechas de datos: Nuestra tienda se encuentra alojada en NemeCheap Inc. Ellos nos proporcionan la 
            plataforma de comercio electrónico en línea que nos permite venderte nuestros productos y servicios.Tus datos se almacenan a través del 
            almacenamiento de datos de NameCheap, bases de datos y la aplicación general de NameCheap. 
            Tus datos se almacenan en un servidor seguro detrás de un firewall.

            Terceras partes: En general, los proveedores de terceras partes utilizados por nosotros solo recopilarán, usarán y divulgarán tu información 
            en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen. Sin embargo, algunos proveedores de servicios de terceros, 
            tales como pasarelas de pago y otros procesadores de transacciones de pago, tienen sus propias politicas de privacidad con respecto a la 
            información que estamos obligados a proporcionarles para las transacciones relacionadas con las compras. Para estos proveedores, 
            te recomendamos que leas las poliíticas de privacidadpara que puedas entender la manera en que tu información personal será manejada. 
            En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones que se encuentran en una jurisdicción 
            diferente a ti o nosotros. Asi que si deseas proceder con una transacción que involucra los servicios de un proveedor a terceros, 
            tu información puede estar sujeta a las leyes de la jurisdicción (jurisdicciones) en que se encuentra el proveedor de servicios o sus instalaciones. 
            A modo de ejemplo, si te encuentras en Canadá y tu transacción es procesada por una pasarela de pago con sede en Estados Unidos, 
            entonces tu información personal utilizada para completar la transacción puede ser sujeto de divulgación en virtud de la legislación de Estados Unidos, 
            incluyendo la Ley Patriota. Una vez que abandonas el sitio web de nuestra tienda o te rediriges a un sitio o aplicación de terceros, 
            ya no estás siendo regulados por la presente Política de Privacidad o los Términos de Servicio de nuestra página web.

            Enlaces: Cuando haces clic en enlaces de nuestra tienda, puede que seas redirigido fuera de nuestro sitio. No somos reponsables por las 
            prácticas de privacidad de otros sitios y te recomendamos leer sus normas de privacidad.

            Qué tipo de toma de decisiones automatizada y/o perfilado hacemos con los datos del usuario: 

            Requerimientos regulatorios de revelación de información del sector:

            Cambios a esta política de privacidad: Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, 
            asique por favor revísala frecuentemente. Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web. 
            Si hacemos cambios materiales a esta política, notificaremos aquí que ha sido actualizada, por lo que cual estás enterado de qué información recopilamos, 
            cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o divulgamos. Si nuestra tienda es adquirida o fusionada con otra empresa, 
            tu información puede ser transferida a los nuevos propietarios, para que podamos seguir vendiéndote productos.

        </div>


    </div>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>
