<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/all.css">
    <title>Club Bike - Usuarios</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">Bike<span>Club</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../bikes/buscarbici.html">Buscar bici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../bikes/prestarbici.html">Prestar bici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../users/comunity.html">Mi comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../users/invita.html">Invita un amigo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="col-12 mx-auto border-bottom mt-4">
            <div class="col-8 mx-auto">
                <h1 class="col-6 mx-auto c">Como Funcionamos</h1>
                <h4 class="col-6 mx-auto c">Entrega 2 U. Sergio Arboleda</h4>
            </div>
        </div>
        
        <div class="col-12 mx-auto border-bottom mt-4">
            <div class="col-10 mx-auto">
                <p>
                    Bici Club es una plataforma en que entre amigos nos prestamos las bicicletas, No necesario tienes que tener Bici pero si deberás ser recomendado por un integrante del club para pertenecer, esto para generar confianza entre los que prestamos la bici.
                </p>
                <p>
                    La plataforma se dio como idea de reducir el impacto de carbón y facilitar el transporte de una forma divertida y sana.
                </p>

                <h3>
                    Prestas Tu Bici?
                </h3>
                <p>
                    Si tienes bicicleta y deseas prestarla, la registras y defines los tiempos “Días y Horas” en que la puedes poner a disposición.
                </p>
                <p>
                    No sobra el recomendar que si estas prestando tu bici, verifiques la hora en que alguien la requiera y estés en el lugar para entregarla.
                </p>
                <p>
                    Cuando te entreguen la bici, dejanos un reporte sobre el trato de la persona que te solicito la bici, el estado en que la devolvió y si quieres añadir algún otro comentario.
                </p>

                <h3>
                    Buscas una Bici?
                </h3>
                <p>
                    Si deseas que alguien te preste una bici, entras a la sección de Buscar Bici y escoges el área en que necesitas la bici y
                    escoges una que este disponible para la hora y el día en que la necesites.
                </p>
                <p>
                    Si solicitas una bici, procura llegar a tiempo “es respeto al tiempo de los demás” y obviamente trata la bici bien evitando que la bici se deteriore o se dañe.
                </p>
                <p>
                    Es tu responsabilidad la seguridad de la bicicleta, no la dejes descuidada.
                </p>
                <p>
                    Recuerda que tienes que entregarla en el mismo lugar en que la recogiste y a la hora acordada, procura llegar a tiempo.
                </p>
                <p>
                    Una vez entregues la bici, deja un comentario describiendo el trato de la persona que te la presto, el estado de la bici y
                    si quieres comentar alguna anécdota durante tu tiempo de usarla.
                </p>

            </div>
        </div>
    </div>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>
